## 제 1차 과제: 소비 데이터 분석

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
bc_card=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/데처프/7주/201906.csv',encoding='utf-8', index_col=0)
bc_card.head()

,REG_YYMM,MEGA_CTY_NO,MEGA_CTY_NM,CTY_RGN_NO,CTY_RGN_NM,ADMI_CTY_NO,ADMI_CTY_NM,MAIN_BUZ_CODE,MAIN_BUZ_DESC,TP_GRP_NO,...,CSTMR_GUBUN,CSTMR_MEGA_CTY_NO,CSTMR_MEGA_CTY_NM,CSTMR_CTY_RGN_NO,CSTMR_CTY_RGN_NM,SEX_CTGO_CD,AGE_VAL,FLC,AMT,CNT
0,201906,11,서울특별시,1162,관악구,11620585,낙성대동,80,음식,80,...,내국인,11,서울특별시,1162,관악구,2,30대,2,26284804,1892
1,201906,11,서울특별시,1159,동작구,11590560,상도4동,30,생활,40,...,내국인,11,서울특별시,1165,서초구,2,20대,1,109290,18
2,201906,11,서울특별시,1162,관악구,11620595,청룡동,30,생활,83,...,내국인,11,서울특별시,1162,관악구,1,20대,1,268850,52
3,201906,11,서울특별시,1144,마포구,11440660,서교동,80,음식,80,...,내국인,11,서울특별시,1138,은평구,1,20대,1,44174450,1790
4,201906,11,서울특별시,1120,성동구,11200550,사근동,80,음식,80,...,내국인,11,서울특별시,1120,성동구,1,20대,1,60338146,3536

In [4]:
# 시, 구, 동, 대분류, 중분류, 소분류, 고객정보, FLC는 모름. amt금액 cnt횟수
bc_card.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100001 entries, 0 to 100000
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   REG_YYMM           100001 non-null  int64
 1   MEGA_CTY_NO        100001 non-null  int64
 2   MEGA_CTY_NM        100001 non-null  object
 3   CTY_RGN_NO         100001 non-null  int64
 4   CTY_RGN_NM         100001 non-null  object
 5   ADMI_CTY_NO        100001 non-null  int64
 6   ADMI_CTY_NM        100001 non-null  object
 7   MAIN_BUZ_CODE      100001 non-null  int64
 8   MAIN_BUZ_DESC      100001 non-null  object
 9   TP_GRP_NO          100001 non-null  int64
 10  TP_GRP_NM          100001 non-null  object
 11  TP_BUZ_NO          100001 non-null  int64
 12  TP_BUZ_NM          100001 non-null  object
 13  CSTMR_GUBUN        100001 non-null  object
 14  CSTMR_MEGA_CTY_NO  100001 non-null  int64
 15  CSTMR_MEGA_CTY_NM  100001 non-null  object
 16  CSTMR_CTY_RGN_NO   100001 non-null  int64
 17  CSTMR_CTY_RGN_NM   100001 non-null  object
 18  SEX_CTGO_CD        100001 non-null  int64
 19  AGE_VAL            100001 non-null  object
 20  FLC                100001 non-null  int64
 21  AMT                100001 non-null  int64
 22  CNT                100001 non-null  int64
dtypes: int64(13), object(10)
memory usage: 18.3+ MB

In [ ]:
# 대분류 보기(unique로 1번씩만)
bc_card['MAIN_BUZ_DESC'].unique()

array(['음식', '생활', 'T&E', '유흥', '문화', '쇼핑', '내구재', '기타'], dtype=object)

In [ ]:
# 중분류 보기
bc_card['TP_GRP_NM'].unique()

array(['일반음식', '유통업영리', '음식료품', '여행업', '의료기관', '레져용품', '유통업비영리', '휴게',
       '보건/위생', '학원', '의류', '서적/문구', '레져업소', '가전제품', '문화/취미', '자동차정비/유지',
       '신변잡화', '보험', '수리서비스', '숙박업', '용역서비스', '건강식품', '회원제형태업소',
       '단란주점(음식)', '직물', '가구', '주방용품', '연료판매', '농업', '건축/자재', '유흥주점(음식)',
       '기타', '광학제품', '사무/통신기기', '자동차판매'], dtype=object)

In [ ]:
# 소분류 보기
bc_card['TP_BUZ_NM'].unique()

array(['서양음식', '편 의 점', '기타음료식품', '일반한식', '택   시', '한의원', '연 쇄 점',
       '스포츠레져용품', '인터넷 P/G', '구내매점(국가기관등)', '제 과 점', '인터넷종합Mall', '종합병원',
       '농축수산품', '주점', '화 장 품', '유아원', '대형할인점', '정장', '일반 서적', '약국',
       '인터넷Mall', '슈퍼 마켓', '일식회집', '당구장', '가전 제품', '중국음식', '의원', '영화관',
       '주 차 장', '기타잡화', '홈쇼핑', '손해 보험', '미곡상', '정기간행물', '스넥', '기타레져업',
       '정 육 점', '세탁소', '미 용 원', '기타숙박업', '특급 호텔', '면 세 점', '생명 보험',
       '이동통신요금', '농,축협직영매장', '완 구 점', '위탁급식업', '아동의류', '초중고교육기관', '사우나',
       '볼 링 장', '치과의원', '노래방', '문구용 품', '세 차 장', '신   발', '기타건강식',
       '기타용역서비스', '자동차부품', '기능학원', 'PG상품권', '공공 요금', '기타 교육', '외국어학원',
       '사무서비스', '화물 운송', '기념품 점', '학원(회원제형태)', '복지 매점', '헬스 크럽', '가정용품수리',
       '종합용역', '악세 사리', '시   계', '학습지교육', '티켓', '출판인쇄물', '위성방송', '자동차정비',
       '고속 버스', '항 공 사', '철   도', '한약방', '동물병원', '단란주점', '안경', '상품권',
       '옷감 직물', '보습학원', '병원', '정보서비스', '일반 가구', '소프트웨어', '의료 용품', '정 수 기',
       '애완 동물', '가례서비스', '피부미용실', '농협하나로클럽', '관광여행', '주 유 소',
       '비료/농약/사료/종자', '조세서비스', '목재,석재,철물', '레져업소(회원제형태)', '예체능학원',
       '미용 재료', '유흥주점', '기타가구', '전문 서적', '여 객 선', '기타의류', '내의판매점', '칵테일바',
       '조명 기구', '스포츠의류', '전자상거래 상품권', '귀 금 속', '기타수리서비스', '기타유통업',
       '화   원', '골프 용품', '주류판매점', '통신판매1', '기계 공구', '기타의료기관및기기', '기타전기제품',
       '맞춤복 점', '사진관', '독서실', '건강진단', '페 인 트', '철제 가구', '가   방', '렌 트 카',
       '치과병원', '일반백화점', '사무통신기기수리', '제 화 점', '주방용식기', '컴 퓨 터', '이 용 원',
       '화   랑', '수 영 장', '통신 기기', '주방 용구', '침구수예점', '사무 기기', '국산 신차',
       '기타건축자재', '기타사무용', 'DVD/음반/테이프판매', '이륜차판매', '기타비영리유통', '골프연습장',
       'CATV', '성인용품점', '기타대인서비스', '1급 호텔', '기타회원제형태업소', '부동산중개/임대',
       '건축요업품', '문화취미기타', '기타컴퓨터', '안마/스포츠마사지', '골프경기장', '수 족 관', '스 키 장',
       '인테 리어', '인삼 제품', '부동산분양', '유류 판매', '수입자동차', '보일러펌프', '캐쥬얼의류',
       '통신서비스', '양 품 점', '제약회사', '보관창고업', '기타주방용구', '서적출판(회원제형태)',
       '농축수산가공품', '민예공예품', '자동차시트/타이어', '홍삼 제품', '한방병원', '기타교통수단',
       '신변잡화수리', '카 메 라', '대학등록금', '컴퓨터학원', '악 기 점', '기타서적문구', '와이셔츠/타이',
       '2급 호텔', '사무서비스(회원제형태)', '건강식품(회원제형태)', '종합레져타운', '중고자동차', '기타직물',
       '화방표구점', '윤활유전문판매', '카인테리어', '기타자동차서비스', '카페트커텐천막', 'L P G',
       '기타농업관련', '산후조리원', '냉열 기기', '법률회계서비스', '유치원', '단체복'], dtype=object)

##3. 데이터 분석

####1. 성북구 거주민의 나이대별 소비액 구하기

In [5]:
# 성북구 거주민의 정보만 남기고 지우기
index1 = bc_card[bc_card['CSTMR_CTY_RGN_NM'] !='성북구'].index
seongbuk_bc_card = bc_card.drop(index1)
#print(seongbuk_bc_card.tail(10))

# 인덱스 리셋
seongbuk_bc_card.reset_index(drop=True, inplace=True)
#print(seongbuk_bc_card.tail(10))

# 나이대별 소비액 구하기
seongbuk_age=pd.pivot_table(seongbuk_bc_card, index=['AGE_VAL'], aggfunc='sum')
seongbuk_age=seongbuk_age.drop(['ADMI_CTY_NO','CTY_RGN_NO','TP_GRP_NO','MAIN_BUZ_CODE','REG_YYMM','CNT','CSTMR_CTY_RGN_NO','CSTMR_MEGA_CTY_NO','FLC','MEGA_CTY_NO','TP_BUZ_NO', 'SEX_CTGO_CD'], axis=1)
print(seongbuk_age)

                AMT
AGE_VAL
20대       627141809
20세 미만      9734890
30대      1172118621
40대      1087412414
50대       754860916
60대 이상    536184728

<ipython-input-5-9718ecc5aed5>:11: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  seongbuk_age=pd.pivot_table(seongbuk_bc_card, index=['AGE_VAL'], aggfunc='sum')

####2. 성북구 거주민의 남/여 소비액 구하기

In [6]:
# 성별을 인덱스로
seongbuksex=pd.pivot_table(seongbuk_bc_card, index=['SEX_CTGO_CD'], aggfunc='sum')
#print(seongbuksex)

seongbuksex=seongbuksex.drop(['ADMI_CTY_NO','CTY_RGN_NO','TP_GRP_NO','MAIN_BUZ_CODE','REG_YYMM','CNT','CSTMR_CTY_RGN_NO','CSTMR_MEGA_CTY_NO','FLC','MEGA_CTY_NO','TP_BUZ_NO'], axis=1)
print(seongbuksex)

                    AMT
SEX_CTGO_CD
1            2014486610
2            2172966768

<ipython-input-6-60767c1e68b8>:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  seongbuksex=pd.pivot_table(seongbuk_bc_card, index=['SEX_CTGO_CD'], aggfunc='sum')

####3.  성북구 거주민 중 여성의 편의점 카드 이용 건수 구하기

In [7]:
seongbuk_female = seongbuk_bc_card[seongbuk_bc_card['SEX_CTGO_CD'] == 2]
seongbuk_female_conv_cnt = seongbuk_female[seongbuk_female['TP_BUZ_NO'] == 4010]['CNT'].sum()

print(seongbuk_female_conv_cnt)

12867

####4.  성북구 거주민 중 여성의 편의점 소비액 구하기

In [8]:
seongbuk_female_spending = seongbuk_bc_card[seongbuk_bc_card['SEX_CTGO_CD'] == 2]['AMT'].sum()

print(seongbuk_female_spending)

2172966768

####5. 성북구의 서양음식, 일반한식 카드 이용 건수와 소비액 구하기

In [11]:
seongbuk_food_west=seongbuk_bc_card[seongbuk_bc_card['TP_BUZ_NM']=='서양음식']
seongbuk_food_kor=seongbuk_bc_card[seongbuk_bc_card['TP_BUZ_NM']=='일반한식']

# 서양음식, 일반한식 카드 이용 건수 구하기
count_west = seongbuk_food_west['CNT'].sum()
count_kor = seongbuk_food_kor['CNT'].sum()

# 서양음식, 일반한식 소비액 구하기
spending_west = seongbuk_food_west['AMT'].sum()
spending_kor = seongbuk_food_kor['AMT'].sum()

data = {
    '이용건수': [count_west, count_kor],
    '소비액': [spending_west, spending_kor]
}

df = pd.DataFrame(data, index=['서양음식', '일반한식'])
print(df)

       이용건수        소비액
서양음식  19936  175840421
일반한식  21750  568218638

####6. 성북구의 일반음식, 음식료품 소비액 구하기

In [29]:
seongbuk_food=seongbuk_bc_card[seongbuk_bc_card['TP_GRP_NM']=='일반음식']
seongbuk_food_ingredient=seongbuk_bc_card[seongbuk_bc_card['TP_GRP_NM']=='음식료품']

spending_food = seongbuk_food['AMT'].sum()
spending_food_ingredient = seongbuk_food_ingredient['AMT'].sum()

print(spending_food)
print(spending_food_ingredient)

818332189
146177444

####7. 강남구, 성북구 거주민의 음식 소비액 평균 구하기

In [53]:
# 강남구 거주민 정보 구하기
index2 = bc_card[bc_card['CSTMR_CTY_RGN_NM'] !='강남구'].index
gangnam_bc_card = bc_card.drop(index2)

gangnam_bc_card.reset_index(drop=True, inplace=True)

# 강남구 거주민 음식 소비액
gangnam_food=gangnam_bc_card[gangnam_bc_card['MAIN_BUZ_DESC']=='음식']
gangnam_food_mean = gangnam_food['AMT'].mean()

# 성북구 거주민 음식 소비액
seongbuk_food=seongbuk_bc_card[seongbuk_bc_card['MAIN_BUZ_DESC']=='음식']
seongbuk_food_mean = seongbuk_food['AMT'].mean()

print(gangnam_food_mean)
print(seongbuk_food_mean)

2927120.643678161
1323043.5721153845

####8. 강남구의 나이대별 소비액과 카드 이용 건수 구하기

In [54]:
# 강남구 거주민의 정보
index3 = bc_card[bc_card['CTY_RGN_NM'] !='강남구'].index
gangnam_bc_card = bc_card.drop(index3)
#print(gangnam_bc_card.tail(10))

# 인덱스 리셋
gangnam_bc_card.reset_index(drop=True, inplace=True)
#print(gangnam_bc_card.tail(10))

# 나이대별 소비액 구하기
gangnam_age=pd.pivot_table(gangnam_bc_card, index=['AGE_VAL'], aggfunc='sum')
gangnam_age=gangnam_age.drop(['ADMI_CTY_NO','CTY_RGN_NO','TP_GRP_NO','MAIN_BUZ_CODE','REG_YYMM','CSTMR_CTY_RGN_NO','CSTMR_MEGA_CTY_NO','FLC','MEGA_CTY_NO','TP_BUZ_NO', 'SEX_CTGO_CD'], axis=1)
print(gangnam_age)

                 AMT     CNT
AGE_VAL
20대       3830783543  226261
20세 미만     100503859   15703
30대       8705073796  302131
40대      10234958201  268518
50대       7656284764  172411
60대 이상    5008044339  101481

<ipython-input-54-13d002963b73>:11: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  gangnam_age=pd.pivot_table(gangnam_bc_card, index=['AGE_VAL'], aggfunc='sum')

####9. 강남구 30대의 대분류별 소비액 구하기

In [56]:
# 강남구 30대
gangnam_30s = gangnam_bc_card[gangnam_bc_card['AGE_VAL'] == 30]

# 대분류별 소비액 구하기
gangnam_30s_spending = pd.pivot_table(gangnam_bc_card, index=['MAIN_BUZ_DESC'], aggfunc='sum')
gangnam_30s_spending=gangnam_30s_spending.drop(['ADMI_CTY_NO','CTY_RGN_NO','TP_GRP_NO','MAIN_BUZ_CODE','REG_YYMM', 'CNT', 'CSTMR_CTY_RGN_NO','CSTMR_MEGA_CTY_NO','FLC','MEGA_CTY_NO','TP_BUZ_NO', 'SEX_CTGO_CD'], axis=1)
print(gangnam_30s_spending)

                       AMT
MAIN_BUZ_DESC
T&E             1287378603
기타               970460586
내구재              165710300
문화              1163617519
생활             26826853775
쇼핑              1126745490
유흥               280034151
음식              3714848078

<ipython-input-56-2bc42dbbfac2>:5: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  gangnam_30s_spending = pd.pivot_table(gangnam_bc_card, index=['MAIN_BUZ_DESC'], aggfunc='sum')

####10. 강남구의 쇼핑에 대한 카드 이용 건수, 소비액 구하기

In [71]:
gangnam_shopping=gangnam_bc_card[gangnam_bc_card['MAIN_BUZ_DESC']=='쇼핑']

gangnam_shopping_cnt = gangnam_shopping['CNT'].sum()
gangnam_shopping_amt = gangnam_shopping['AMT'].sum()


data = {
    '이용건수': [gangnam_shopping_cnt],
    '소비액': [gangnam_shopping_amt]
}

df = pd.DataFrame(data, index=['쇼핑'])
print(df)

     이용건수         소비액
쇼핑  36467  1126745490